---
AccessModifierOffset: '-4'
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'Empty'
AlwaysBreakTemplateDeclarations: 'Yes'
PenaltyReturnTypeOnItsOwnLine: '10000000'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '160'
Cpp11BracedListStyle: 'false'
IndentWidth: '4'
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: 'true'
SortIncludes: 'false'
ContinuationIndentWidth: '4'
InsertNewlineAtEOF: true
QualifierAlignment: Left
TabWidth: '4'
UseTab: Always

...
