---
AccessModifierOffset: '-4'
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '160'
Cpp11BracedListStyle: 'false'
IndentWidth: '4'
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: 'true'
SortIncludes: 'false'
ContinuationIndentWidth: '24'
InsertNewlineAtEOF: true
TabWidth: '4'
UseTab: Always

...
