[submodule "Orochi-Fork"]
	path = Orochi-Fork
	url = https://github.com/TomClabault/Orochi.git
[submodule "HIPRT-Fork"]
	path = HIPRT-Fork
	url = https://github.com/TomClabault/HIPRT.git
[submodule "ASSIMP-Fork"]
	path = ASSIMP-Fork
	url = https://github.com/TomClabault/assimp.git
